@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fffefe00;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
pre {
  background: #fdfcfb !important;
  padding: 17px 20px 17px !important;
  border-radius: 5px !important;
  margin: 30px 0 100px 0 !important;
  border: 1px solid #fffaf4 !important;
}
code {
  background: #fdfcfb !important;
  border: none !important;
  font-size: 17px !important;
}
.layouth5{
  position: relative;
  width: 100%;
  text-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  padding: 9px 0;
  background: url(https://t3.ftcdn.net/jpg/05/15/19/28/360_F_515192874_67RbpW7TBAGodYiiEk1nAjIQksBHnCGk.jpg);
  z-index: -1;
}
.layouth5::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,#ffffffed,#ffe852cd);
  z-index: -2;
}