@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400..900;1,300..900;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;1,200&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');
.hp-collection{
    display: block;
    width: 90%;
    padding: 0 5%;
    margin: 50px 0 0 50px;
}
.hp-collection .hp-listofcollection{
    display: flex;
    width: 660px;
    padding: 30px 0;
    border-bottom: 1px solid #f5f5f5;
}
.hp-collection .hp-listofcollection .hp-leftofarticle{
    display: block;
    width: 460px;
}
.hp-collection .hp-listofcollection .hp-leftofarticle .hp-profile{
    display: flex;
    align-items: center;
}
.hp-collection .hp-listofcollection .hp-leftofarticle .hp-profile img{
    width: 25px;
    height: 25px;
    padding: 0.8px;
    border: 1px solid #eee;
    border-radius: 50px;
}
.hp-collection .hp-listofcollection .hp-leftofarticle .hp-profile p{
    color: #000;
    font-size: 12px;
    font-size: 'Inter', sans-serif;
    margin-left: 10px;
    
}
.hp-collection .hp-listofcollection .hp-leftofarticle h1{
    color: #202022;
    font-size: 24px;
    margin-top: 12px;
}
.hp-leftofarticle .hp-desc{
    color: #666;
    font-size: 15px;
    width: 90%;
    font-family: 'Work sans', sans-serif;
    margin-top: 9px;
    font-weight: 500;
}
.hp-collection .hp-listofcollection .hp-leftofarticle .hp-dateandreadtime{
    font-size: 12px;
    color: #666;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.pagination {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
  
.pagination button {
   border: none;
   background-color: #f0f0f0;
   color: #222;
   font-size: 13px;
   width: 30px;
   height: 30px;
   margin: 0 5px;
   cursor: pointer;
   border-radius: 7px;
}
  
.pagination button.active {
   background-color: #111;
   color: #fff;
}


.hp-collection .hp-listofcollection .hp-cover{
    width: 170px;
    height: 100px;
    margin-top: 25px;
    background: url(https://cdn.prod.website-files.com/63fe5b1c322d2f50310b436a/65ba7f23548194ea94bf4ea1_The%20Ultimate%20Guide%20to%20TypeScript.webp);
    background-position: center;
    background-size: cover;
    border: 1px solid #eee;
}
.hp-collection .hp-listofcollection:nth-child(2) .hp-cover{
    background: url(https://files.codingninjas.in/article_images/java-util-collections-reverseorder-method-in-java-0-1671213126.webp);
    background-size: cover;
}
.hp-collection .hp-listofcollection:nth-child(3) .hp-cover{
    background: url(https://dotnettrickscloud.blob.core.windows.net/img/java/2820230207141426.webp);
    background-size: cover;
}
.hp-collection .hp-listofcollection:nth-child(4) .hp-cover{
    background: url(https://cache.careers360.mobi/media/article_images/2023/12/26/types-of-Inheritance-in-java.webp);
    background-size: cover;
}
.hp-collection .hp-listofcollection:nth-child(5) .hp-cover{
    background: url(https://data-flair.training/blogs/wp-content/uploads/sites/2/2018/05/java-array-vs-arraylist.webp);
    background-size: cover;
}
.hp-collection .hp-listofcollection:nth-child(6) .hp-cover{
    background: url(https://appetiser.com.au/wp-content/uploads/2019/04/Most-Loved-And-Hated-Programming-Languages.png.webp);
    background-size: cover;
}
.hp-collection .hp-listofcollection:nth-child(7) .hp-cover{
    background: url('https://cdn.prod.website-files.com/65cb11ea0b2e776c9df555a2/66a20262fb8612eb45bcfae6_Blog%20Header%20(36).webp');
    background-size: cover;
}